.effect-box{
	width: 160px;
	height: 50px;
	border: 1px solid blue; 
	margin-bottom: 15px;
}
.box {
	width: 40px;
	height: 50px;
	border: 1px solid red; 
}
@keyframes extension-on-hover{
	0%{
		width: 40px;
	}
	100%{
		width: 500px;
	}
}
.box{
	animation:extension-on-hover 4s infinite alternate;
	animation-play-state: paused;
}
.effect-box:hover + .box{
	animation-play-state: running;
}